body{
    font-family: Verdana;
}
header,footer,section,article{
    background-color:white;
    border-color:grey;
    border-width: 1px;
    border-style: solid;
    margin:5px;
    padding: 8px;
}
.T1{
    background-color: #444;
    color: white;

}
#sec{
    background-color: #ddd;
}

